# Copiá a .env solo en tu TrueNAS / Portainer (no subas .env a GitHub).
PUID=3000
PGID=3000
TZ=America/Argentina/Buenos_Aires
CUSTOM_USER=niros
KEEPASSXC_PASSWORD=ardy30fe

# Rutas del host TrueNAS (ajustá pool/dataset):
CONFIG_PATH=/mnt/FILES-BACKUP/appdata/keepassxc
DATA_PATH=/mnt/FILES-BACKUP/PORTAINER/keepass

HTTP_PORT=4000
HTTPS_PORT=4001
